.Pricing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 50px;
    max-width: 1550px;
    margin: auto;
    background-color: white;
    
}

.Pricing-Card {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    gap: 10px;
}


