.Hero {
  display: flex;
  margin-top: 10px !important;
}

.Hero-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px;
}

.Hero-info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Hero-info-text h1 {
  line-height: 110%;
}

.Hero-info-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Hero-Content {
  width: 50%;
  display: grid;
  place-items: end;
}

.Hero-Content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 10/10;
  background-image: url("../../assets/women-blur.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

.Hero-Content-Child {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0) !important;
}

@media screen and (max-width: 1000px) {
  .Hero {
    flex-direction: column;
  }

  .Hero-info {
    width: 100%;
    gap: 30px;
    padding: 30px;
  }

  .Hero-Content {
    width: 100%;
  }
}
