
body{
    padding: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


:root {

    /* branding */

  --Brand: blueviolet;


  /* Theme */

  --Black:black;
  --White:white;


  /* shades */

  --LiteWhite:whitesmoke;
  --LiteBlack:grey;

}