.About {
  display: flex;
  padding: 50px;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.About-heading {
  line-height: 110%;
}



.About-Stats-Client {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

@media screen and (max-width: 1000px) {
}
